<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ikazos</title>
</head>

<body>
    <div class="ui text grid container" style="margin-top: 3em; margin-bottom: 3em">
        {% block content %} {% endblock %}
    </div>
    
    <link rel="stylesheet" type="text/css" href="{{ config.base_url }}/semantic/semantic.min.css">
    <style>
        pre {
            padding: 1em;
        }
        
        blockquote {
            background: #f9f9f9;
            border-left: 2px solid #ccc;
        }
    </style>
    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="{{ config.base_url }}/semantic/semantic.min.js"></script>
    <script src="{{ config.base_url }}/base.js"></script>
</body>
</html>