{% extends "base.html" %}

{% import "post-listing.html" as post_listing %}

{% block content %}
<div class="eight wide column">
    <img class="ui medium rounded image" src="{{ config.base_url }}/ikazos.png">
</div>

<div class="eight wide column">
    <h1 class="ui header">
        {{ section.title }}
    </h1>

    <p>
        {{ section.content | safe }}
    </p>
</div>

<div class="sixteen wide column">
    <div class="ui divider"></div>

    <h2 class="ui header">
        Posts
    </h2>

    {% set posts_url = get_url(path="@/posts/_index.md") %}
    <p>See more <a href="{{ posts_url }}">here</a>.</p>

    {% set index_as_section = get_section(path="posts/_index.md") %}
    {{ post_listing::post_listing(section=index_as_section) }}
</div>
{% endblock content %}