<a href="{{ config.base_url }}">
    <h2 class="ui header">
        <img id="home-image" src="{{ config.base_url }}/ikazos-justi.png" class="ui rounded image">
        <div id="home-headers" class="content">
            ikazos
            <h2 class="sub header">
                theoretical lx / NLP
            </h2>
        </div>
    </h2>
</a>