{% extends "base.html" %}

{% block content %}
<div class="sixteen wide column">
    {% include "menu.html" %}

    <div class="ui divider"></div>

    {% block optional_header %} {% endblock %}

    {% if page.extra.tags is defined %}
        <h5 class="ui header">Tags
        {% for tag in page.extra.tags %}
            <a class="ui teal label">{{ tag }}</a>
        {% endfor %}
        </h5>
    {% endif %}
    
    {% if page.draft %}
        <div class="ui icon message">
            <i class="edit icon"></i>
            <div class="content">
                <div class="header">
                    This post is a draft
                </div>
                <p>Whatever that means.</p>
            </div>
        </div>
    {% endif %}

    <p>
        {{ page.content | safe }}
    </p>
</div>
{% endblock content %}