{% macro post_listing(section) %}
{% if section.pages | length > 0 %}
    <div class="ui one cards">
        {% for page in section.pages %}
            {% if loop.index > 10 %}
            {% break %}
            {% endif %}

            <div class="card">
                <div class="content">
                    <div class="header">
                        <a href="{{ config.base_url }}/{{ page.path }}">
                            {{ page.title }}
                        </a>
                        {% if page.draft %}
                            <div class="ui horizontal label" style="margin-left: 1em">
                                <i class="edit icon"></i>DRAFT
                            </div>
                        {% endif %}
                    </div>
                    <div class="meta">{{ page.date }}</div>
                    <div class="description">
                        <p>{{ page.description }}</p>
                    </div>
                </div>
                <div class="extra content">
                    <span style="margin-right: 1em">Tags</span>
                    {% for tag in page.extra.tags %}
                        <a class="ui teal label">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endmacro post_listing %}