{% extends "base.html" %}

{% import "post-listing.html" as post_listing %}

{% block content %}
<div class="sixteen wide column">
    {% include "menu.html" %}

    <div class="ui divider"></div>

    <h1 class="ui header">
        {{ section.title }}
    </h1>

    <p>
        {{ section.content | safe }}
    </p>

    {{ post_listing::post_listing(section=section) }}
</div>
{% endblock content %}